<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        <div class="wrapper wrapper--header">
            {{ partial "header.html" . }}
        </div>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <div class="wrapper">
            <footer class="site-footer" role="contentinfo">
                <p>Hi, I'm <a href="http://levimcg.com/">Levi</a>. I'd love it if you follow along on my wine jouney.</p>
            </footer>
        </div>
    </body>
</html>
